<!doctype html>
<meta charset="utf-8">
<html>
<head>
  <link rel="stylesheet" href="/dist/css/amazeui.css">
  <link rel="stylesheet" href="/dist/css/amazeui.min.css">
  <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/dist/js/amazeui.js"></script>
</head>
<body>
  <div class="am-g">
    <div class="am-u-sm-6 am-u-sm-centered" style="margin-top: 50px; text-align: center;">
      <h2>进行中</h2>
      <ul class="status-progressbar " data-status-progressbar='{"提交订单":{"status":"success","date":"2015-09-30 17:48:55"},"买家支付":{"status":"success","date":"2015-09-30 17:48:55"},"卖家发货":{"status":"","date":""},"确认收货":{"status":"","date":""},"评价":{"status":"","date":""}}'></ul>
    </div>
  </div>
  <div class="am-g">
    <div class="am-u-sm-4 am-u-sm-centered" style="margin-top: 50px; text-align: center;">
      <h2>已失败</h2>
      <ul class="status-progressbar" data-status-progressbar='{"提交订单":{"status":"success","date":"2015-09-30 17:48:55"},"支付失败":{"status":"danger","date":"2015-09-30 17:48:55"},"卖家发货":{"status":"","date":"2015-09-30 17:48:55"},"确认收货":{"status":"","date":""}}'></ul>
    </div>
  </div>
  <div class="am-g">
    <div class="am-u-sm-8 am-u-sm-centered" style="margin-top: 50px; text-align: center;">
      <h2>已完成</h2>
      <ul class="status-progressbar" data-status-progressbar='{"提交订单":{"status":"success","date":"2015-09-30 17:48:55"},"买家支付":{"status":"success","date":"2015-09-30 17:48:55"},"卖家发货":{"status":"success","date":"2015-09-30 17:48:55"},"确认收货":{"status":"success","date":"2015-09-30 17:48:55"},"评价":{"status":"success","date":"2015-09-30 17:48:55"}}'></ul>
    </div>
  </div>
</body>
</html>
