<!doctype html>
<meta charset="utf-8">
<html>
<head>
  <link rel="stylesheet" href="/dist/css/amazeui.css">
  <link rel="stylesheet" href="/dist/css/amazeui.min.css">
</head>
<body>
  <div style="margin-top: 100px; text-align: center;">
    <ul class="status-progressbar">
      <li class="progress active"><ul>
        <li class="status">提交订单</li>
        <li class="circle"></li>
        <li class="date">2015-9-30<br/>17:48:55</li>
      </ul></li>
      <li class="bar active"><ul>
        <li class="status">&nbsp;</li>
        <li class="rectangle"></li>
        <li class="date">&nbsp;<br/>&nbsp;</li>
      </ul></li>
      <li class="progress active"><ul>
        <li class="status">买家支付</li>
        <li class="circle"></li>
        <li class="date">2015-9-30<br/>17:48:55</li>
      </ul></li>
      <li class="bar"><ul>
        <li class="status">&nbsp;</li>
        <li class="rectangle"></li>
        <li class="date">&nbsp;<br/>&nbsp;</li>
      </ul></li>
      <li class="progress"><ul>
        <li class="status">卖家发货</li>
        <li class="circle"></li>
        <li class="date">2015-9-30<br/>17:48:55</li>
      </ul></li>
      <li class="bar"><ul>
        <li class="status">&nbsp;</li>
        <li class="rectangle"></li>
        <li class="date">&nbsp;<br/>&nbsp;</li>
      </ul></li>
      <li class="progress"><ul>
        <li class="status">确认收货</li>
        <li class="circle"></li>
        <li class="date">2015-9-30<br/>17:48:55</li>
      </ul></li>
      <li class="bar"><ul>
        <li class="status">&nbsp;</li>
        <li class="rectangle"></li>
        <li class="date">&nbsp;<br/>&nbsp;</li>
      </ul></li>
      <li class="progress"><ul>
        <li class="status">评价</li>
        <li class="circle"></li>
        <li class="date">2015-9-30<br/>17:48:55</li>
      </ul></li>
    </ul>
  </div>
</body>
</html>
